/* background configuration */
html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* main window positioning and style*/
div.main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 35vw;
  left: 0; right: 0;
  margin: auto;
  
  border-radius: 8px;
}

@media screen and (max-device-width: 960px) {
  div.main  {
    width: 80vw;
  }
}

/* window header */
div.main h1 {
  border-bottom: 4px solid #FFF;
}

/* window body */
div.panel-body div {
  padding-left: 8px;
  padding-right: 8px;
}

/* day/night styling */
body.day div.panel-body div.panel-item:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
body.night div.panel-body div.panel-item:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
body.day div.main {
  background-color: rgba(200, 200, 200, 0.75);
}
body.night div.main {
  background-color: rgba(216, 200, 200, 0.75);
}
body.night div.main div.panel {
  background-color: #644;
  color: #CAA;
}
body.night div.main div.panel div.panel-heading {
  background-image: linear-gradient(to bottom,#775555 0,#664444 100%);
  color: #DBB;
}

/* allow panel-items to behave as anchors */
div.panel-item {
  position: relative;
}
div.panel-item a span {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}

div.toggleMode {
  position: absolute;
  right: 0;
  margin: 4px;
}