a, a:hover {
  color: #44F;
  text-decoration: none;
}
a:hover {
  color: #88F;
}
html, body {
  height: 100%;
  color: #FF8;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vmin;
}
div.quotebanner {
  background-image: url('./day-medres.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  padding-top: 2em;
  padding-bottom: 2em;
}
div#quote {
  font-size: 2.5em;
  width: 95%;
  margin-left: auto; margin-right: auto;
  text-align: center;
  font-family: 'Courgette', cursive;
}
div.container-fluid {
  background-color: #d6d6ff;
  color: #004;
  font-size: 100%;
}
div.row.quoteborder {
  height: 6vw;
  font-size: 4vw;
  margin-bottom: 1vw;
  background-color: #004;
  color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
div.row.quoteborder div.col {
  text-align: center;
  height: 100%;
}
div.row.quoteborder div.col img {
  border-radius: 25%;
  height: 200%;
  margin-bottom: -40%;
  margin-top: -40%;
  border: 2px solid black;
}
div.row.quoteborder div.col div.text {
  vertical-align: middle;
}
div.contact {
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  padding: 0.25em;
  border-top: 2px solid black;
  background-color: #004;
}
div.contact a {
  color: white;
}
div.contact a:hover {
  color: #FF8;
}
