.App {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .25);
}

.quote .content {
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: 'Yellowtail', cursive;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media (min-width: 992px) {
  .quote .content {
    margin-top: 40vh;
    transform: translateY(-50%);
  }
}

.sidebar {
  background-color: #849CE5;
  color: #0B0C0E;
  padding: 2em 1em 2em 1em;
  border-bottom: 1em solid #FFD67F;
}

.sidebar h1 {
  text-align: center;
}

.sidebar h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
}

.sidebar p {
  text-indent: 0.5em;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact a {
  flex: 0;
  font-size: 2em;
  margin: 0.25em;
  text-decoration: none;
  color: #525D7C;
  transition: color 250ms ease;
}

.contact a:hover {
  color: #AC976D;
}

.links a {
  display: block;
  padding: 1em;
  margin: 0.25em;
  transition: background-color 500ms ease;
  color: white;
  text-shadow: 1px 1px black;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
  font-weight: 900;
}

.links a:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

.nav-bg {
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.25);
}

.nav-bg.cruftbusters {
  background-image: url('./img/atlas.jpg');
}

.nav-bg.fallmap {
  background-image: url('./img/fallcolors.jpg');
}

.nav-bg.snare {
  background-image: linear-gradient(to right bottom, rgb(24, 68, 167), rgb(90, 48, 143));
  color: rgb(207, 197, 175);
}

.bookshelf ul {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.now-playing iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,900|Yellowtail');
